.App {
  text-align: center;
}

.App-logo {
  animation: logo-update infinite 5s linear;
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
}

.App-header {
  background-color: #4d6299;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-update {
  0%  {background-color: #4d6299; transform: rotate(0deg);}
  50% {background-color: #df42f4; transform: rotate(180deg);}
  100%  {background-color: #4d6299; transform: rotate(360deg);}
}
